.button {
    position: absolute;
    width: 500px;
    height: 100px;
    background-color: #ebe5e5;
    border: 1px solid #0c0101;
    border-radius: 50px;
    color: #000;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
}

.button:hover {
    background: rgba(0, 0, 0, 0.1);
  }